<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps/planning">แผนจัดซื้อยาและเวชภัณฑ์</a>
  <span class="breadcrumb-item active">รายการแผนจัดซื้อยาและเวชภัณฑ์</span>
</nav>

<div class="card">
  <div class="card-block" style="padding: 0px 18px;">
    <form class="compact" style="padding-top: 0px;">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="required" for="planningYear">ปีงบประมาณ</label>
            </div>
            <div class="col-md-8">
              <div class="select">
                <select [(ngModel)]="planningYear" name="planningYear" [disabled]="planningHeaderId">
                  <option value="">
                    กรุณาเลือกปีงบประมาณ
                  </option>
                  <option *ngFor="let y of years" [value]="y">{{y | toThaiDate: 'Y'}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group row">
            <div class="col-md-2">
              <label class="required" for="planningName">ชื่อแผน</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="planningName" name="planningName" [(ngModel)]="planningName" size="50" [disabled]="planningHeaderId">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="status">สถานะแผน</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="status" readonly value="{{ planningStatus | status}}">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="countItem">จำนวนรายการ</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="countItem" readonly value="{{ planningTotal | number }}">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="totalAmount">มูลค่ารวม</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="totalAmount" readonly value="{{totalAmount | number: '1.2-2'}}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-4" style="padding-top: 5px;">
    <label for="query">ค้นหา</label>
    <input type="text" placeholder="พิมพ์แล้วกด Enter" [(ngModel)]="query" (keyup)="enterSearch($event)" style="width: 300px;">
  </div>
  <div class="col-md-6">
    <div class="text-right" style="padding-top: 5px;">
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn" (click)="onClickAdjustPlanning()" [disabled]="!totalAmount">ปรับแผน</button>
        <button class="btn" (click)="onClickExportPlanning()">ส่งออกข้อมูล</button>
        <button class="btn" (click)="onClickUploadPlanning()">นำเข้าข้อมูล</button>
        <button class="btn" (click)="onClickPrintReport()">พิมพ์รายงานแผน</button>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="padding-top: 5px;">
      <pm-select-generic-type (select)="onSelectGenericType($event)"></pm-select-generic-type>
  </div>
</div>

<pm-adjust-planning #adjustModal (adjust)="processAdjustPlanning($event)"></pm-adjust-planning>
<pm-upload-excel #uploadModal (upload)="processUploadPlanning($event)"></pm-upload-excel>

<pm-datagrid-planning #dataGrid [year]="planningYear" [data]="plannings" [perPage]="perPage" [total]="planningTotal" (insert)="insertPlanningTmp($event)"
  (update)="updatePlanningTmp($event)" (delete)="deletePlanningTmp($event)" (refresh)="refreshPlanning($event)"></pm-datagrid-planning>

<clr-tabs>
  <clr-tab>
    <button clrTabLink>ประวัติการปรับแผน</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid>
        <clr-dg-column [style.width.px]="150">วันที่แก้ไข</clr-dg-column>
        <clr-dg-column [style.width.px]="200">จำนวนรายการ</clr-dg-column>
        <clr-dg-column [style.width.px]="200">มูลค่ารวม</clr-dg-column>
        <clr-dg-column [style.width.px]="300">หมายเหตุ</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let h of history;" [clrDgItem]="h">
          <clr-dg-cell class="text-center">{{h.update_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell class="text-right">{{h.planning_qty | number }}</clr-dg-cell>
          <clr-dg-cell class="text-right">{{h.planning_amount | number: '1.2-2' }}</clr-dg-cell>
          <clr-dg-cell>{{h.planning_memo}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} items
          <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<div>
  <button type="button" (click)="confirmPlanning()" class="btn btn-sm btn-primary" [disabled]="!planningYear || !planningName || !planningTotal">
    <clr-icon shape="success-standard"></clr-icon> ยืนยันแผนฯ
  </button>
  <button type="button" (click)="savePlanning()" class="btn btn-sm btn-success" [disabled]="!planningYear || !planningName || !planningTotal">
    <clr-icon shape="floppy"></clr-icon> บันทึกแผนฯ
  </button>
  <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/apps/planning']">
    <clr-icon shape="home"></clr-icon> กลับหน้าหลัก
  </button>
</div>

<pm-html-preview #htmlPreview></pm-html-preview>
<pm-loading #pmLoading></pm-loading>