<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps/planning">แผนจัดซื้อยาและเวชภัณฑ์</a>
  <span class="breadcrumb-item active">สร้างแผนจัดซื้อยาและเวชภัณฑ์</span>
</nav>

<div class="card">
  <div class="card-block" style="padding: 0px 18px;">
    <form class="compact" style="padding-top: 0px;">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="required" for="planningYear">ปีงบประมาณ</label>
            </div>
            <div class="col-md-8">
              <div class="select">
                <select id="planningYear" [(ngModel)]="planningYear" name="planningYear" (focus)="onFocusPlanningYear($event)" (change)="onChangePlanningYear($event)">
                  <option value="">
                    กรุณาเลือกปีงบประมาณ
                  </option>
                  <option *ngFor="let y of years" [value]="y">{{y | toThaiDate: 'Y'}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="required" for="planningName">ชื่อแผน</label>
            </div>
            <div class="col-md-8">
              <input type="text" id="planningName" name="planningName" [(ngModel)]="planningName" size="30">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="required" for="planningYear">งบประมาณ</label>
            </div>
            <div class="col-md-8">
              <div class="select form-control">
                <select id="typeName" [(ngModel)]="budgetTypeId" name="typeName">
                  <option value="">
                    <กรุณาเลือกงบประมาณ>
                  </option>
                  <option *ngFor="let t of budgetTypes" [value]="t.bgtype_id">{{t.bgtype_name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="status">สถานะแผน</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="status" readonly value="{{ planningStatus | status}}">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="countItem">จำนวนรายการ</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="countItem" readonly value="{{ planningTotal | number }}">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="totalAmount">มูลค่ารวม</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="text-success" id="totalAmount" readonly value="{{totalAmount | number: '1.2-2'}}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-4" style="padding-top: 5px;">
    <label for="query">ค้นหา</label>
    <input type="text" placeholder="พิมพ์แล้วกด Enter" [(ngModel)]="query" (keyup)="enterSearch($event)" style="width: 300px;">
  </div>
  <div class="col-md-6">
    <div class="text-right" style="padding-top: 5px;">
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn" (click)="onClickProcessForecast()">คำนวณแผน</button>
        <button class="btn" (click)="onClickCopyPlanning()">คัดลอกแผน</button>
        <button class="btn" (click)="onClickUploadPlanning()">นำเข้าข้อมูล</button>
        <button class="btn" (click)="onClickMergePlanning()">รวมแผน</button>
        <button class="btn" (click)="onClickAdjustPlanning()" [disabled]="!totalAmount">ปรับแผน</button>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="padding-top: 5px;">
    <pm-select-generic-type (select)="onSelectGenericType($event)"></pm-select-generic-type>
  </div>
</div>

<pm-adjust-planning #adjustModal (adjust)="processAdjustPlanning($event)"></pm-adjust-planning>
<pm-copy-planning #copyModal (copy)="processCopyPlanning($event)"></pm-copy-planning>
<pm-upload-excel #uploadModal (upload)="processUploadPlanning($event)"></pm-upload-excel>
<pm-merge-planning #mergeModal (merge)="processMergePlanning($event)"></pm-merge-planning>

<pm-datagrid-planning #dataGrid [year]="planningYear" [data]="plannings" [perPage]="perPage" [total]="planningTotal" (insert)="insertPlanningTmp($event)"
  (update)="updatePlanningTmp($event)" (delete)="deletePlanningTmp($event)" (refresh)="refreshPlanning($event)"></pm-datagrid-planning>

<div>
  <button type="button" (click)="savePlanning()" class="btn btn-sm btn-success" [disabled]="!planningYear || !planningName || !plannings.length">
    <clr-icon shape="floppy"></clr-icon> บันทึกแผนฯ
  </button>
  <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/apps/planning']">
    <clr-icon shape="home"></clr-icon> กลับหน้าหลัก
  </button>
</div>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" [clrModalSize]="'md'">
  <h3 class="modal-title">คำนวณแผน</h3>
  <div class="modal-body">
    <form class="compact">
      <section class="form-block">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>กรุณาเลือกประเภทหมวดสินค้า</h4>
            <clr-datagrid [style.height.px]="300" [(clrDgSelected)]="selectedGenericTypes">
              <clr-dg-column>รายการประเภทหมวดสินค้า</clr-dg-column>
              <clr-dg-row *clrDgItems="let t of genericTypes" [clrDgItem]="t">
                <clr-dg-cell>
                  {{t.generic_type_name}}
                </clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="processForecast()" [disabled]="!selectedGenericTypes.length">
      ตกลง
    </button>
    <button type="button" class="btn btn-danger-outline" (click)="opened = false">
      ยกเลิก
    </button>
  </div>
</clr-modal>

<pm-loading #pmLoading></pm-loading>